<a href="https://colab.research.google.com/github/vivirocha/Bootcamp_DataScience/blob/main/DesenvolvendoSolu%C3%A7%C3%B5esUtilizandoApacheSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bootcamp Cientista de Dados - IGTI **

Trabalho 1 - Módulo 2

*Desenvolvendo Soluções Utilizando Apache Spark*

**Enunciado** <br> 
Dados do mercado financeiro são interessantes e ricos: cada ação negociada na bolsa de valores tem um preço que varia a cada dia. Você foi contratado como cientista de dados de uma empresa de Wall Street para criar modelos preditivos que, a partir da variação diária do preço das ações, consigam subsidiar e melhorar decisões de compra e venda de ações. Você disse que, como todo bom cientista de dados, gostaria de explorar os dados para entender suas características antes de criar qualquer modelo preditivo. <br>

Os dados estão disponíveis em https://www.kaggle.com/camnugent/sandp500/ por meio do arquivo all_stocks_5yr.csv. O arquivo contém, para cada dia e ação do S&P 500 (lista de 500 maiores empresas americanas), os seguintes dados: <br> 
● Date - no formato yy-mm-dd <br>
● Open - Preço da ação na abertura do mercado no dia, em dólares. <br>
● High - Maior preço alcançado naquele dia. <br>
● Low - Menor preço alcançado naquele dia. <br>
● Close - Preço da ação no fechamento do mercado no dia. <br>
● Volume - Número de ações vendidas / compradas.<br>
● Name - O nome da ação. <br>

Apesar do volume de dados ser pequeno, você decidiu usar o Apache Spark para processar os dados para aprender a ferramenta, e tendo em vista que a sua empresa disse que, em breve, obterá dados por minuto, e não por dia, e de todas as ações do planeta, não apenas dos Estados Unidos. Neste caso, uma ferramenta desenhada para lidar com big data será necessária, e você já quer estar com o código pronto.

In [1]:
#Instalando spark
!pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 65 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=3cda93e5e7c129824dfd6d82847d1443036f866f4155618a7ddc64380de7da41
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [2]:
#Instalando pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=1a2d225b6a725fd2ae9c180f213dfd8219144e0f8c66b7636d173ada3c3d143b
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [37]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('SolucoesSpark') \
                    .getOrCreate()

In [4]:
#Importando biblioteca pandas
import pandas as pd

In [5]:
#Lendo o arquivo .csv e criando um dataframe dele.
df = spark.read.csv('all_stocks_5yr.csv', sep=',', header=True)

In [40]:
df.show(truncate=False)

+----+----------+--------+------+------+----------+--------+----------+
|nome|data      |abertura|maxima|minima|fechamento|volume  |fech_abert|
+----+----------+--------+------+------+----------+--------+----------+
|AAL |2013-02-08|15.07   |15.12 |14.63 |14.75     |8407500 |false     |
|AAL |2013-02-11|14.89   |15.01 |14.26 |14.46     |8882000 |false     |
|AAL |2013-02-12|14.45   |14.51 |14.1  |14.27     |8126000 |false     |
|AAL |2013-02-13|14.3    |14.94 |14.25 |14.66     |10259500|true      |
|AAL |2013-02-14|14.94   |14.96 |13.16 |13.99     |31879900|false     |
|AAL |2013-02-15|13.93   |14.61 |13.93 |14.5      |15628000|true      |
|AAL |2013-02-19|14.33   |14.56 |14.08 |14.26     |11354400|false     |
|AAL |2013-02-20|14.17   |14.26 |13.15 |13.33     |14725200|false     |
|AAL |2013-02-21|13.62   |13.95 |12.9  |13.37     |11922100|false     |
|AAL |2013-02-22|13.57   |13.6  |13.21 |13.57     |6071400 |false     |
|AAL |2013-02-25|13.6    |13.76 |13.0  |13.02     |7186400 |false     |
|AAL |2013-02-26|13.14   |13.42 |12.7  |13.26     |9419000 |true      |
|AAL |2013-02-27|13.28   |13.62 |13.18 |13.41     |7390500 |true      |
|AAL |2013-02-28|13.49   |13.63 |13.39 |13.43     |6143600 |false     |
|AAL |2013-03-01|13.37   |13.95 |13.32 |13.61     |7376800 |true      |
|AAL |2013-03-04|13.5    |14.07 |13.47 |13.9      |8174800 |true      |
|AAL |2013-03-05|14.01   |14.05 |13.71 |14.05     |7676100 |true      |
|AAL |2013-03-06|14.52   |14.68 |14.25 |14.57     |13243200|true      |
|AAL |2013-03-07|14.7    |14.93 |14.5  |14.82     |9125300 |true      |
|AAL |2013-03-08|14.99   |15.2  |14.84 |14.92     |10593700|false     |
+----+----------+--------+------+------+----------+--------+----------+
only showing top 20 rows

Para visualizarmos os dados do nosso dataframe, utilizaremos o comando **.show()**.

In [6]:
df.show()

+----------+-----+-----+-----+-----+--------+----+
|      date| open| high|  low|close|  volume|Name|
+----------+-----+-----+-----+-----+--------+----+
|2013-02-08|15.07|15.12|14.63|14.75| 8407500| AAL|
|2013-02-11|14.89|15.01|14.26|14.46| 8882000| AAL|
|2013-02-12|14.45|14.51| 14.1|14.27| 8126000| AAL|
|2013-02-13| 14.3|14.94|14.25|14.66|10259500| AAL|
|2013-02-14|14.94|14.96|13.16|13.99|31879900| AAL|
|2013-02-15|13.93|14.61|13.93| 14.5|15628000| AAL|
|2013-02-19|14.33|14.56|14.08|14.26|11354400| AAL|
|2013-02-20|14.17|14.26|13.15|13.33|14725200| AAL|
|2013-02-21|13.62|13.95| 12.9|13.37|11922100| AAL|
|2013-02-22|13.57| 13.6|13.21|13.57| 6071400| AAL|
|2013-02-25| 13.6|13.76| 13.0|13.02| 7186400| AAL|
|2013-02-26|13.14|13.42| 12.7|13.26| 9419000| AAL|
|2013-02-27|13.28|13.62|13.18|13.41| 7390500| AAL|
|2013-02-28|13.49|13.63|13.39|13.43| 6143600| AAL|
|2013-03-01|13.37|13.95|13.32|13.61| 7376800| AAL|
|2013-03-04| 13.5|14.07|13.47| 13.9| 8174800| AAL|
|2013-03-05|14.01|14.05|13.71|14.05| 7676100| AAL|
|2013-03-06|14.52|14.68|14.25|14.57|13243200| AAL|
|2013-03-07| 14.7|14.93| 14.5|14.82| 9125300| AAL|
|2013-03-08|14.99| 15.2|14.84|14.92|10593700| AAL|
+----------+-----+-----+-----+-----+--------+----+
only showing top 20 rows

Iremos renomear as colunas.

In [7]:
#Importando col a partir do pyspark.sql.functions
from pyspark.sql.functions import col

In [8]:
df = df.select(col("date").alias("data"), col("open").alias("abertura"), col("high").alias('maxima'), col('low').alias('minima'), col('close').alias('fechamento'), col('volume').alias('volume'), col('Name').alias('nome'))
df.show()

+----------+--------+------+------+----------+--------+----+
|      data|abertura|maxima|minima|fechamento|  volume|nome|
+----------+--------+------+------+----------+--------+----+
|2013-02-08|   15.07| 15.12| 14.63|     14.75| 8407500| AAL|
|2013-02-11|   14.89| 15.01| 14.26|     14.46| 8882000| AAL|
|2013-02-12|   14.45| 14.51|  14.1|     14.27| 8126000| AAL|
|2013-02-13|    14.3| 14.94| 14.25|     14.66|10259500| AAL|
|2013-02-14|   14.94| 14.96| 13.16|     13.99|31879900| AAL|
|2013-02-15|   13.93| 14.61| 13.93|      14.5|15628000| AAL|
|2013-02-19|   14.33| 14.56| 14.08|     14.26|11354400| AAL|
|2013-02-20|   14.17| 14.26| 13.15|     13.33|14725200| AAL|
|2013-02-21|   13.62| 13.95|  12.9|     13.37|11922100| AAL|
|2013-02-22|   13.57|  13.6| 13.21|     13.57| 6071400| AAL|
|2013-02-25|    13.6| 13.76|  13.0|     13.02| 7186400| AAL|
|2013-02-26|   13.14| 13.42|  12.7|     13.26| 9419000| AAL|
|2013-02-27|   13.28| 13.62| 13.18|     13.41| 7390500| AAL|
|2013-02-28|   13.49| 13.63| 13.39|     13.43| 6143600| AAL|
|2013-03-01|   13.37| 13.95| 13.32|     13.61| 7376800| AAL|
|2013-03-04|    13.5| 14.07| 13.47|      13.9| 8174800| AAL|
|2013-03-05|   14.01| 14.05| 13.71|     14.05| 7676100| AAL|
|2013-03-06|   14.52| 14.68| 14.25|     14.57|13243200| AAL|
|2013-03-07|    14.7| 14.93|  14.5|     14.82| 9125300| AAL|
|2013-03-08|   14.99|  15.2| 14.84|     14.92|10593700| AAL|
+----------+--------+------+------+----------+--------+----+
only showing top 20 rows

Limitaremos a visualização de apenas 5 observações.

In [9]:
df.limit(5).toPandas()

         data abertura maxima minima fechamento    volume nome
0  2013-02-08    15.07  15.12  14.63      14.75   8407500  AAL
1  2013-02-11    14.89  15.01  14.26      14.46   8882000  AAL
2  2013-02-12    14.45  14.51   14.1      14.27   8126000  AAL
3  2013-02-13     14.3  14.94  14.25      14.66  10259500  AAL
4  2013-02-14    14.94  14.96  13.16      13.99  31879900  AAL

Iremos alterar a posição das colunas com o comando **.select()**.

In [10]:
df = df.select('nome', 'data', 'abertura', 'maxima', 'minima', 'fechamento', 'volume')
df.show()

+----+----------+--------+------+------+----------+--------+
|nome|      data|abertura|maxima|minima|fechamento|  volume|
+----+----------+--------+------+------+----------+--------+
| AAL|2013-02-08|   15.07| 15.12| 14.63|     14.75| 8407500|
| AAL|2013-02-11|   14.89| 15.01| 14.26|     14.46| 8882000|
| AAL|2013-02-12|   14.45| 14.51|  14.1|     14.27| 8126000|
| AAL|2013-02-13|    14.3| 14.94| 14.25|     14.66|10259500|
| AAL|2013-02-14|   14.94| 14.96| 13.16|     13.99|31879900|
| AAL|2013-02-15|   13.93| 14.61| 13.93|      14.5|15628000|
| AAL|2013-02-19|   14.33| 14.56| 14.08|     14.26|11354400|
| AAL|2013-02-20|   14.17| 14.26| 13.15|     13.33|14725200|
| AAL|2013-02-21|   13.62| 13.95|  12.9|     13.37|11922100|
| AAL|2013-02-22|   13.57|  13.6| 13.21|     13.57| 6071400|
| AAL|2013-02-25|    13.6| 13.76|  13.0|     13.02| 7186400|
| AAL|2013-02-26|   13.14| 13.42|  12.7|     13.26| 9419000|
| AAL|2013-02-27|   13.28| 13.62| 13.18|     13.41| 7390500|
| AAL|2013-02-28|   13.49| 13.63| 13.39|     13.43| 6143600|
| AAL|2013-03-01|   13.37| 13.95| 13.32|     13.61| 7376800|
| AAL|2013-03-04|    13.5| 14.07| 13.47|      13.9| 8174800|
| AAL|2013-03-05|   14.01| 14.05| 13.71|     14.05| 7676100|
| AAL|2013-03-06|   14.52| 14.68| 14.25|     14.57|13243200|
| AAL|2013-03-07|    14.7| 14.93|  14.5|     14.82| 9125300|
| AAL|2013-03-08|   14.99|  15.2| 14.84|     14.92|10593700|
+----+----------+--------+------+------+----------+--------+
only showing top 20 rows

Quantos registros há na planilha?

Para respondermos essa questão podemos utilizar os comandos **.describe()** ou **.count()**.

In [11]:
df.describe().show()

+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|  nome|      data|         abertura|           maxima|           minima|       fechamento|           volume|
+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|619040|    619040|           619029|           619032|           619032|           619040|           619040|
|   mean|  null|      null|83.02333431454696|83.77831069346465|82.25609641375786|83.04376276476573|4321823.395568945|
| stddev|  null|      null| 97.3787690433231|  98.207518904464| 96.5074210580914|97.38974800165752|8693609.511967659|
|    min|     A|2013-02-08|             1.62|             1.69|              1.5|             1.59|                0|
|    max|   ZTS|2018-02-07|           999.47|           999.75|           999.48|            999.6|           999994|
+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [12]:
df.count()

619040

Quantos registros há na planilha para a ação da Apple (AAPL)?
<br> 


Para selecionarmos dados específicos de uma coluna específica utilizaremos as funções em conjunto: **select, where, count**. <br>
Então selecionaremos a coluna **nome**, onde exista nomes **igual a AAPL** *(ação da APPLE)* e **contaremos** quantas são.

In [13]:
df.select('nome').where(df.nome=="AAPL").count()

1259

Quantas empresas distintas têm registros nessa planilha?

Vamos importar a biblioteca countDistinct do pyspark.sql.functions.

In [14]:
#importando biblioteca para contagem de valores distintos 
from pyspark.sql.functions import countDistinct

Criaremos uma variável para inserir os valores distintos da coluna **nome** e visualizaremos com o comando **.show()**

In [15]:
empresasdistintas = df.select(countDistinct("nome"))
empresasdistintas.show()

+--------------------+
|count(DISTINCT nome)|
+--------------------+
|                 505|
+--------------------+

Com qual frequência o preço de uma ação no fechamento é maior do que o preço na abertura?

Criaremos uma coluna (**fech_abert**) para verificarmos em quais observações o preço de fechamento é maior do que o preço da abertura.

In [16]:
df = df.withColumn("fech_abert", col('fechamento') >col('abertura'))
df.limit(5).toPandas()

  nome        data abertura maxima minima fechamento    volume  fech_abert
0  AAL  2013-02-08    15.07  15.12  14.63      14.75   8407500       False
1  AAL  2013-02-11    14.89  15.01  14.26      14.46   8882000       False
2  AAL  2013-02-12    14.45  14.51   14.1      14.27   8126000       False
3  AAL  2013-02-13     14.3  14.94  14.25      14.66  10259500        True
4  AAL  2013-02-14    14.94  14.96  13.16      13.99  31879900       False

Vamos usar a função count para contarmos quantas vezes o fechamento foi maior que a abertura.

In [17]:
df.select('fech_abert').where(df.fech_abert=="True").count()

318940

Então, dividiremos o resultado pelo total dos eventos e arredondaremos o resultado.

In [18]:
porcentagem =  (318940/619040)*100
round(porcentagem, 2)

51.52

Qual o maior valor das ações da Apple (AAPL) na história?

In [19]:
#Selecionando e agrupando as colunas de nome e maxima geral.
df.groupby('nome').agg({'maxima': 'max'}).show()

+----+-----------+
|nome|max(maxima)|
+----+-----------+
|   A|       75.0|
| AAL|      59.08|
| AAP|      99.99|
|AAPL|      99.99|
|ABBV|      99.49|
| ABC|      99.92|
| ABT|       64.6|
| ACN|      99.94|
|ADBE|      99.99|
| ADI|      98.38|
| ADM|      53.91|
| ADP|      99.88|
| ADS|      312.0|
|ADSK|      98.05|
| AEE|      64.89|
| AEP|      78.07|
| AES|       9.97|
| AET|      99.92|
| AFL|      91.73|
| AGN|      99.55|
+----+-----------+
only showing top 20 rows

Vamos criar uma variável com o nome **apple** e inseriremos dentro dela apenas a valores encontrados em **AAPL**. Faremos um agrupamento para localizarmos apenas a cotação máxima da ação desta empresa.

In [20]:
#Filtrando pelo valor que desejamos encontrar.
apple = df[df['nome']=='AAPL']

In [21]:
#Agrupando por nome e procurando a maxima do valor que desejamos encontrar.
apple.groupby('nome').agg({'maxima': 'max'}).show()

+----+-----------+
|nome|max(maxima)|
+----+-----------+
|AAPL|      99.99|
+----+-----------+

Qual ação tem a maior volatilidade? Uma forma é medir o desvio-padrão do preço de fechamento de cada ação e considerar a ação de maior desvio-padrão.

In [22]:
df.describe().show()

+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|  nome|      data|         abertura|           maxima|           minima|       fechamento|           volume|
+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|619040|    619040|           619029|           619032|           619032|           619040|           619040|
|   mean|  null|      null|83.02333431454696|83.77831069346465|82.25609641375786|83.04376276476573|4321823.395568945|
| stddev|  null|      null| 97.3787690433231|  98.207518904464| 96.5074210580914|97.38974800165752|8693609.511967659|
|    min|     A|2013-02-08|             1.62|             1.69|              1.5|             1.59|                0|
|    max|   ZTS|2018-02-07|           999.47|           999.75|           999.48|            999.6|           999994|
+-------+------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [23]:
df.groupby('nome').agg({'fechamento': 'max'}).show(5)

+----+---------------+
|nome|max(fechamento)|
+----+---------------+
|   A|          74.82|
| AAL|          58.47|
| AAP|          99.95|
|AAPL|          99.99|
|ABBV|          99.95|
+----+---------------+
only showing top 5 rows

In [24]:
df.agg({'fechamento': 'stddev'}).show()

+------------------+
|stddev(fechamento)|
+------------------+
| 97.38974800165752|
+------------------+

In [25]:
from pyspark.sql.functions import stddev

In [26]:
desvpad = df.select(stddev('fechamento')).show()

+-----------------------+
|stddev_samp(fechamento)|
+-----------------------+
|      97.38974800165752|
+-----------------------+

In [27]:
df.select(stddev('fechamento')).collect()

[Row(stddev_samp(fechamento)=97.38974800165752)]

In [28]:
df.agg({'fechamento':'stddev_pop'}).collect()

[Row(stddev_pop(fechamento)=97.3896693397073)]

In [29]:
dp = df.groupby('nome').agg({'fechamento': 'stddev'}).show(5)

+----+------------------+
|nome|stddev(fechamento)|
+----+------------------+
|ALXN|29.230294072399754|
| GIS| 5.626922424396725|
|   K| 5.791233527106072|
| LEN| 7.164922272045884|
| AIV| 6.048727635117268|
+----+------------------+
only showing top 5 rows

Qual o dia com maior volume de negociação da bolsa?

In [107]:
volum = df.withColumn("vol_total", col('volume'))
volum.limit(5).toPandas()

  nome        data abertura maxima  ... fechamento    volume fech_abert  vol_total
0  AAL  2013-02-08    15.07  15.12  ...      14.75   8407500      False    8407500
1  AAL  2013-02-11    14.89  15.01  ...      14.46   8882000      False    8882000
2  AAL  2013-02-12    14.45  14.51  ...      14.27   8126000      False    8126000
3  AAL  2013-02-13     14.3  14.94  ...      14.66  10259500       True   10259500
4  AAL  2013-02-14    14.94  14.96  ...      13.99  31879900      False   31879900

[5 rows x 9 columns]

In [108]:
volum.sort(volum.vol_total.desc()).show(5)

+----+----------+--------+------+------+----------+-------+----------+---------+
|nome|      data|abertura|maxima|minima|fechamento| volume|fech_abert|vol_total|
+----+----------+--------+------+------+----------+-------+----------+---------+
| GPN|2015-03-16|  44.785|45.335| 44.69|    45.295| 999994|      true|   999994|
| CBG|2013-09-26|   23.47| 23.63| 23.26|     23.42| 999993|     false|   999993|
| AYI|2017-06-28|  176.44|181.25|176.44|    179.73| 999984|      true|   999984|
|SYMC|2013-06-13|    22.1| 22.54| 21.98|     22.49|9999678|      true|  9999678|
| EXC|2015-07-30|   31.12| 31.78| 31.12|     31.65|9999678|      true|  9999678|
+----+----------+--------+------+------+----------+-------+----------+---------+
only showing top 5 rows

In [94]:
from pyspark.sql.functions import max

In [95]:
from pyspark.sql.types import StringType,BooleanType,DateType

In [109]:
volum.printSchema()

root
 |-- nome: string (nullable = true)
 |-- data: string (nullable = true)
 |-- abertura: string (nullable = true)
 |-- maxima: string (nullable = true)
 |-- minima: string (nullable = true)
 |-- fechamento: string (nullable = true)
 |-- volume: string (nullable = true)
 |-- fech_abert: boolean (nullable = true)
 |-- vol_total: string (nullable = true)

In [111]:
volum.withColumn(('vol_total'),df.volume.cast('int'))

DataFrame[nome: string, data: string, abertura: string, maxima: string, minima: string, fechamento: string, volume: string, fech_abert: boolean, vol_total: int]

In [103]:
df.select(col("vol_total").cast('int').alias("vol_total"))

DataFrame[vol_total: int]

In [112]:
volum \
.groupBy('data')\
.max('vol_total')\
.limit(10)\
.show()

AnalysisException: ignored

In [113]:
volum.orderBy(volum.vol_total, ascending = False).show(10)

+----+----------+--------+------+------+----------+-------+----------+---------+
|nome|      data|abertura|maxima|minima|fechamento| volume|fech_abert|vol_total|
+----+----------+--------+------+------+----------+-------+----------+---------+
| GPN|2015-03-16|  44.785|45.335| 44.69|    45.295| 999994|      true|   999994|
| CBG|2013-09-26|   23.47| 23.63| 23.26|     23.42| 999993|     false|   999993|
| AYI|2017-06-28|  176.44|181.25|176.44|    179.73| 999984|      true|   999984|
| EXC|2015-07-30|   31.12| 31.78| 31.12|     31.65|9999678|      true|  9999678|
|SYMC|2013-06-13|    22.1| 22.54| 21.98|     22.49|9999678|      true|  9999678|
| WMT|2017-09-08|   79.74|79.875| 77.73|     78.88|9999593|     false|  9999593|
|CTXS|2016-09-20|    84.0| 84.18| 83.11|     83.19| 999958|     false|   999958|
| SCG|2014-10-07|   48.15|48.785|48.073|     48.27| 999943|      true|   999943|
| LUK|2014-05-28|   25.86|  26.0| 25.71|     25.76| 999941|     false|   999941|
| MRK|2015-03-17|   56.89| 56.89| 56.24|     56.47|9999391|     false|  9999391|
+----+----------+--------+------+------+----------+-------+----------+---------+
only showing top 10 rows

In [114]:
volum.groupby('data').agg({'vol_total': 'max'}).show()

+----------+--------------+
|      data|max(vol_total)|
+----------+--------------+
|2013-02-08|       9814015|
|2013-02-11|        999351|
|2013-02-12|       9996613|
|2013-02-13|        994668|
|2013-02-14|        991784|
|2013-02-15|        999585|
|2013-02-19|       9927033|
|2013-02-20|        996615|
|2013-02-21|        997858|
|2013-02-22|        999729|
|2013-02-25|        997593|
|2013-02-26|        998641|
|2013-02-27|       9966373|
|2013-02-28|        989496|
|2013-03-01|        996350|
|2013-03-04|       9997338|
|2013-03-05|        999509|
|2013-03-06|        999523|
|2013-03-07|        999882|
|2013-03-08|       9994826|
+----------+--------------+
only showing top 20 rows

In [115]:
volum.groupby('data').agg({'vol_total': 'max'}).show(5)

+----------+--------------+
|      data|max(vol_total)|
+----------+--------------+
|2013-02-08|       9814015|
|2013-02-11|        999351|
|2013-02-12|       9996613|
|2013-02-13|        994668|
|2013-02-14|        991784|
+----------+--------------+
only showing top 5 rows

Qual a ação mais negociada da bolsa, em volume de transações?

Quantas ações começam com a letra “A”?

Com qual frequência o preço mais alto do dia da ação também é o preço de fechamento?

Em qual dia a ação da Apple mais subiu até o fechamento, de forma absoluta?

Em média, qual o volume diário de transações das ações da AAPL?

Quantas ações tem 1, 2, 3, 4 e 5 caracteres em seu nome, respectivamente?

Qual a ação menos negociada da bolsa, em volume de transações?

Com qual frequência o preço de fechamento é também o mais alto do dia?