<a href="https://colab.research.google.com/github/vivirocha/Bootcamp_DataScience/blob/main/DesenvolvendoSolu%C3%A7%C3%B5esUtilizandoApacheSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bootcamp Cientista de Dados - IGTI **

Trabalho 1 - Módulo 2

*Desenvolvendo Soluções Utilizando Apache Spark*

In [139]:
!pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 39 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=4b869a9697f6a0a1372b20ad747ccbce7896e9abf16eaeeead6050d1b794023e
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [140]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [165]:
import pandas as pd

In [160]:
df = spark.read.csv("all_stocks_5yr.csv")

In [161]:
df.show()

+----------+-----+-----+-----+-----+--------+----+
|       _c0|  _c1|  _c2|  _c3|  _c4|     _c5| _c6|
+----------+-----+-----+-----+-----+--------+----+
|      date| open| high|  low|close|  volume|Name|
|2013-02-08|15.07|15.12|14.63|14.75| 8407500| AAL|
|2013-02-11|14.89|15.01|14.26|14.46| 8882000| AAL|
|2013-02-12|14.45|14.51| 14.1|14.27| 8126000| AAL|
|2013-02-13| 14.3|14.94|14.25|14.66|10259500| AAL|
|2013-02-14|14.94|14.96|13.16|13.99|31879900| AAL|
|2013-02-15|13.93|14.61|13.93| 14.5|15628000| AAL|
|2013-02-19|14.33|14.56|14.08|14.26|11354400| AAL|
|2013-02-20|14.17|14.26|13.15|13.33|14725200| AAL|
|2013-02-21|13.62|13.95| 12.9|13.37|11922100| AAL|
|2013-02-22|13.57| 13.6|13.21|13.57| 6071400| AAL|
|2013-02-25| 13.6|13.76| 13.0|13.02| 7186400| AAL|
|2013-02-26|13.14|13.42| 12.7|13.26| 9419000| AAL|
|2013-02-27|13.28|13.62|13.18|13.41| 7390500| AAL|
|2013-02-28|13.49|13.63|13.39|13.43| 6143600| AAL|
|2013-03-01|13.37|13.95|13.32|13.61| 7376800| AAL|
|2013-03-04| 13.5|14.07|13.47| 13.9| 8174800| AAL|
|2013-03-05|14.01|14.05|13.71|14.05| 7676100| AAL|
|2013-03-06|14.52|14.68|14.25|14.57|13243200| AAL|
|2013-03-07| 14.7|14.93| 14.5|14.82| 9125300| AAL|
+----------+-----+-----+-----+-----+--------+----+
only showing top 20 rows

Iremos alterar a ordem das colunas.

In [162]:
df = df.toDF(*['data', 'abertura', 'maxima', 'minima', 'fechamento', 'volume', 'nome'])

In [169]:
df.limit(10).toPandas()

         data abertura maxima minima fechamento    volume  nome
0        date     open   high    low      close    volume  Name
1  2013-02-08    15.07  15.12  14.63      14.75   8407500   AAL
2  2013-02-11    14.89  15.01  14.26      14.46   8882000   AAL
3  2013-02-12    14.45  14.51   14.1      14.27   8126000   AAL
4  2013-02-13     14.3  14.94  14.25      14.66  10259500   AAL
5  2013-02-14    14.94  14.96  13.16      13.99  31879900   AAL
6  2013-02-15    13.93  14.61  13.93       14.5  15628000   AAL
7  2013-02-19    14.33  14.56  14.08      14.26  11354400   AAL
8  2013-02-20    14.17  14.26  13.15      13.33  14725200   AAL
9  2013-02-21    13.62  13.95   12.9      13.37  11922100   AAL

In [174]:
df = df.select('nome', 'data', 'abertura', 'maxima', 'minima', 'fechamento', 'volume')
df.show()

+----+----------+--------+------+------+----------+--------+
|nome|      data|abertura|maxima|minima|fechamento|  volume|
+----+----------+--------+------+------+----------+--------+
|Name|      date|    open|  high|   low|     close|  volume|
| AAL|2013-02-08|   15.07| 15.12| 14.63|     14.75| 8407500|
| AAL|2013-02-11|   14.89| 15.01| 14.26|     14.46| 8882000|
| AAL|2013-02-12|   14.45| 14.51|  14.1|     14.27| 8126000|
| AAL|2013-02-13|    14.3| 14.94| 14.25|     14.66|10259500|
| AAL|2013-02-14|   14.94| 14.96| 13.16|     13.99|31879900|
| AAL|2013-02-15|   13.93| 14.61| 13.93|      14.5|15628000|
| AAL|2013-02-19|   14.33| 14.56| 14.08|     14.26|11354400|
| AAL|2013-02-20|   14.17| 14.26| 13.15|     13.33|14725200|
| AAL|2013-02-21|   13.62| 13.95|  12.9|     13.37|11922100|
| AAL|2013-02-22|   13.57|  13.6| 13.21|     13.57| 6071400|
| AAL|2013-02-25|    13.6| 13.76|  13.0|     13.02| 7186400|
| AAL|2013-02-26|   13.14| 13.42|  12.7|     13.26| 9419000|
| AAL|2013-02-27|   13.28| 13.62| 13.18|     13.41| 7390500|
| AAL|2013-02-28|   13.49| 13.63| 13.39|     13.43| 6143600|
| AAL|2013-03-01|   13.37| 13.95| 13.32|     13.61| 7376800|
| AAL|2013-03-04|    13.5| 14.07| 13.47|      13.9| 8174800|
| AAL|2013-03-05|   14.01| 14.05| 13.71|     14.05| 7676100|
| AAL|2013-03-06|   14.52| 14.68| 14.25|     14.57|13243200|
| AAL|2013-03-07|    14.7| 14.93|  14.5|     14.82| 9125300|
+----+----------+--------+------+------+----------+--------+
only showing top 20 rows